body {
    margin: 0;
    padding: 0;
    background: url(../resource/img/fondo1.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box {
    width: 320px;
    height: 420px;
    background: url(../resource/img/fondo2.jpg);
    color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px; 
    border-radius: 15px;
    box-shadow: 5px 5px 10px 2px #444;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1 {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 2px solid #ffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(46, 46, 46);
    font-size: 15px;
}

.login-box input[type="sabmit"] {
    border: none;
    outline: none;
    height: 40px;
    text-align: center;
    background: rgba(219, 67, 181, 0.7);
    color: #ffff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="sabmit"]:hover {
    background: rgba(219, 67, 181, 0.5);
    cursor: pointer;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box a:hover {
    color: #ffff;
}