#gradient{
    background-image: url('../img/background-5.jpg') !important;
    background-size: contain;
}
#back{
    background-color: rgba(0,0,0,0.45) !important;
}
.rounded-mg{
    border-radius: 20px !important;
}

.btn-primary-mg{
    background-color: tomato !important;
}